.container {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

.tela-visor {
  width: 250px;
  height: 40px;
  margin: 10px;
}
.botao {
  width: 60px;
  height: 60px;
  margin: 1px;
  background: cornflowerblue;
}

.botao-dois {
  margin-bottom: 2px;
  display: inline;
  width: 126px;
}

.botao-ultimo .botao {
  margin-top: 2px;
  display: inline;
  width: 82px;
  height: 60px;
}
